.header__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 60px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.header__link:hover {
  background-color: #E8C300;
}
